{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}

<br>

<h3>About:</h3>

<p>Educated Citizen is Whitney Zilton's project for Hackbright Academy, created in spring 2020. It is a full-stack application with a HTML, CSS, Bootstrap, and Javascript frontend, a PostGreSQL database built with SQLAlchemy, Python/Flask backend.</p>

<p>APIs utilized: OpenSecrets API and VoteSmartAPI</p>
<!-- link to both websites -->

<p>This application was not built for commercial purposes.</p>

<p>No copyright is claimed in content used and to the extent that material may appear to be infringed, I assert that such alleged infringement is permissible under fair use principles in U.S. copyright laws. If you believe material has been used in an unauthorized manner, please contact the programmer.</p>

{% endblock %}