{% extends 'base.html' %}

{% block title %}Legislator Lookup{% endblock %}

{% block content %}

<div class="container-fluid">
  <br>
  <br>
  <h5>It can be hard keeping track of who represents you. The Educated Citizen Project is here to help you learn more about your legislator's voting records and campaign contributions.</h5>
<br>

  <div class="form-div">
  <form method="GET" action="/officials"> 
      <label>Please fill out the form below:</label>
        <label>Enter your 5 digit zip code:</label>
          <input type="text" id="zipcode" name="zipcode" maxlength="5" pattern="[0-9]{5}" placeholder="55105">

      <br>
      <br>
        <label>Select an issue that matters to you:</label>
        <select name="category">
          <option value="2">Abortion</option>
          <option value="7">Arts, Entertainment, and History</option>
          <option value="13">Civil Liberties and Civil Rights</option>
          <option value="20">Crime</option>
          <option value="22">Defense</option>
          <option value="25">Drugs</option>
          <option value="3">Employment and Affirmative Action</option>
          <option value="30">Environment</option>
          <option value="69">Executive Branch</option>
          <option value="32">Foreign Affairs</option>
          <option value="90">Government Budget and Spending</option>
          <option value="38">Health and Health Care</option>
          <option value="30">Environment</option>
          <option value="43">Labor Unions</option>
          <option value="61">National Security</option>
          <option value="53">Senior Citizens</option>
          <option value="63">Trade</option>
          <option value="64">Transportation</option>
          <option value="68">Women</option>
        </select>
          <br>
        <input type="submit" class="btn btn-primary btn-small">

  </form>
  </div>
</div>

<style>
body {
  background: url(/static/sprinkles.png) center center;
  background-size: cover;
}

.form-div {
  text-align: center;
  display: block;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
</style>

{% endblock %}