{% extends 'base.html' %}

{% block title %}Legislator Lookup Tool{% endblock %}

{% block content %}

  <h4>Welcome to elected official lookup tool!</h4>

  <br>
  <br>
  <br>
  <p>Learn more about who represents you</p>
  <br>
  <br>
  <form method="GET" action="/officials"> 
    <label>Please enter your 5 digit zip code:</label>
    <input type="text" id="zipcode" name="zipcode" maxlength="5" pattern="[0-9]{5}">

    <br>
    <br>

    Please select an issue that matters to you:
    <select name="category">
      <option value="2">Abortion</option>
      <option value="7">Arts, Entertainment, and History</option>
      <option value="13">Civil Liberties and Civil Rights</option>
      <option value="20">Crime</option>
      <option value="22">Defense</option>
      <option value="25">Drugs</option>
      <option value="3">Employment and Affirmative Action</option>
      <option value="30">Environment</option>
      <option value="69">Executive Branch</option>
      <option value="32">Foreign Affairs</option>
      <option value="90">Government Budget and Spending</option>
      <option value="38">Health and Health Care</option>
      <option value="30">Environment</option>
      <option value="43">Labor Unions</option>
      <option value="61">National Security</option>
      <option value="53">Senior Citizens</option>
      <option value="63">Trade</option>
      <option value="64">Transportation</option>
      <option value="68">Women</option>
      <br>
    <input type="submit">
  </form>

{% endblock %}