{% extends 'base.html' %}

{% block title %}Elected Officials{% endblock %}

{% block content %}
    <h3>Your Elected Officials:</h3>
        {% for candidate in candidates %}
        <ul>{% for cand in candidate.values() %}</ul>
        <br>
            {{ cand }}
            {% endfor %}
        {% endfor %}

    <h3>Recent Legislation on Issue you care about:</h3>
    {% for bill in bills %}
        <ul>{% for b in bill.values() %}</ul>
        <br>
            {{ b }}
            {% endfor %}
        {% endfor %}


{% endblock %}